---
layout: null
title: Ruben Kluge | AI Product Manager | Healthcare
description: Ruben Kluge is an AI Product Manager with a strong technical background in healthcare and computer vision.

sitemap:
    priority: 1.0
    lastmod: 2023-11-15
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Ruben Kluge</h1>
						<h2>Artificial Intelligence // Product Management // Healthcare</h2>
            
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
			
				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>
			

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>
			
				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2 id="js-fading" class="morphext"> Ruben Kluge | Product Manager | Machine Learning | Computer Vision | Healthcare</h2>	
								</header>

								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>

								<header class="minor">
									<h3>About me</h3>
								</header>


                <p>Hello, I'm Ruben! A product manager with a strong technical foundation in AI and a focus on advancing healthcare technology across Europe. Currently, as product manager for IQVIA's NLP team, I'm scaling NLP solutions from the Netherlands to EMEA and implementing an outcome-centric product strategy to drive measurable impact. Previously, I led research and development for Thirona's CAD4TB, an AI-powered tool that screens for tuberculosis in 45 countries, endorsed by the WHO. My approach blends strategic vision with hands-on expertise, enabling me to deliver scalable, impactful healthcare solutions.</p>

							</article>

						<!-- Posts -->
							<section class="posts">
								{% for post in site.posts limit:6 %}
									<article>
										<header>
											<div class="meta">
												<span class="date">{{ post.date | date_to_string }}</span>
												<span class="reading-time">
													{% capture words %}
														{{ post.content | strip_html | number_of_words }}
													{% endcapture %}
													{% assign reading_time = words | plus: 0 | divided_by: 200 | plus: 1 %}
													• {{ reading_time }} min read
												</span>
											</div>
											<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
										</header>
										<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
										<p>{{ post.excerpt }}</p>
										<ul class="actions">
											<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
										</ul>
									</article>
								{% endfor %}
							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
