---
layout: null
title: Ruben Kluge | Product Manager & Machine Learning Engineer
description: Ruben Kluge is a Product Manager & Machine Learning Engineer with a strong technical background in healthcare and computer vision.

sitemap:
    priority: 1.0
    lastmod: 2023-11-15
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Ruben Kluge</h1>
						<h2>Artificial Intelligence // Product Management // Healthcare</h2>
            
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
			
				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>
			

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>
			
				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2 id="js-fading" class="morphext"> Ruben Kluge | Product Manager | Machine Learning | Computer Vision | Healthcare</h2>	
								</header>

								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>

								<header class="minor">
									<h3>About me</h3>
								</header>


                <p>Hello, I'm Ruben! I am currently the Head of Development of CAD4TB, an artificial intelligence software to detect tuberculosis on chest x-rays. CAD4TB is deployed in 40+ countries and screens over 7 million people. I lead a small multidisciplinary team of deep learning engineers and software engineers that focus on developing deep learning algorithms that need to fit on limited hardware. 

                Before this, I have been a freelance project manager & web developer for multiple years with a wide portfolio of clients. 
								 </p>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
